<h3>Products</h3>

<div class="row">
  <div class="section">
    <% @products.each do |product| %>
      <div class="col-md-4">

        <h4><%= product.name %></h4>
        <p><%= number_to_currency product.price %></p>
        <%= image_tag(product.image, class: "product-image") %>

        <%= form_for @order_item do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>

          <span class="btn btn-default"><%= f.submit "Add to cart" %></span>

        <% end %>

      </div>
    <% end %>
  </div>
</div>

<h3>Orders:</h3>

<% @orders.each do |order| %>
  <h3>Order Number: <%=order.id %> </h3>

  <% if @order_items.any? %>
    <% @order_items.each do |item| %>
      <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <% end %>
  <% else %>
    <p>Your shopping cart is empty.</p>
  <% end %>



<% end %>
