<div class="header-container text-center">
  <h1 class="slogan">It's Not Your Average Drive Thru</h1>
  <h1 class="header-text">Menu</h1>
</div>

<div class="order-info-container">
  <% if @order %>
  <h3>Current Order Number: <%= @order.id %></h3>
  <% else %>
  <p>No current order</p>
  <% end %>

  <%= link_to "New Order", new_order_path, class: "btn btn-default new-order-button" %>
</div>
<hr>

<div class="menu-container flex-wrap-container">
  <% @products.each do |product| %>
    <div class="menu-item well">
      <h4><%= product.name %></h4>
      <p><%= number_to_currency product.price %></p>
      <%= image_tag(product.image, class: "product-image") %>

      <%= form_for @order_item do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.number_field :quantity, placeholder: "Quantity"%>
      <%= f.submit "Add To Order", class: "btn btn-default"%>
      <% end %>
    </div>
  <% end %>
</div>
<hr>

<div class="text-center">
  <h1>Open Orders:</h1>

  <% if @open_order_count > 4 %>
  <h3 class="alert">Alert: Open orders have exceeded 4!  Let's get cookin'. </h3>
  <% end %>
</div>


<div class="open-orders-container flex-wrap-container">
  <% @orders.each do |order| %>
    <% unless order.status == "Closed" %>
      <div class="order-container">
        <div class="well">
          <h3>Order Number: <%=order.id %> </h3>
          <p>Order Status: <%=order.status %></p>

          <% if order.order_items.any? %>
            <% order.order_items.each do |item| %>
            <p><%= item.quantity %> <%= item.product.name %> | <%= link_to "Delete", order_item_path(item, :order_id => order.id), :data => {:confirm => "You sure?", :method => "delete"} %></p>
            <% end %>
          <% else %>
          <p>This order is empty.</p>
          <% end %>

          <%= link_to "Edit Order", edit_order_path(order, :order_id => order.id), class: "btn btn-default"%>

          <%= link_to "Cancel Order", order_path(order, :order_id => order.id), class: "btn btn-default", :data => {:confirm => "You sure?", :method => "delete"} %>

          <%= link_to "Order Complete", finalize_path(:order_id => order.id), class: "btn btn-default", :data => {:method => "finalize"}%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<hr>

<h1 class="text-center">Closed Orders:</h1>

<% @orders.each do |order| %>
  <% if order.status == "Closed" %>
    <ul>
      <li>Order <%= order.id %></li>
    </ul>
  <% end %>
<% end %>
